<div class="container color-dark">
  <div class="col1">
    <p>skills items</p>
  </div>
</div>

<div class="container color-light">
  <div class="col3">
    <form>
      <input type="text" class="txt" name="frameworks" placeholder="frameworks (Angular)" [(ngModel)]="mySkills.frameworks"> <br>
      <input type="text" class="txt" name="languages" placeholder="languages (Java)" [(ngModel)]="mySkills.languages"> <br>
      <input type="submit" class="btn" value="{{ btnTxt }}" (click)="AgregarJob()">
    </form>

    <div class="cards-wrapper">
      <div class="card" *ngFor="let job of skills">
        <div class="card-content">
          <h3>{{ job.frameworks }}</h3>
          <p><strong>Lenguajes:</strong> {{ job.languages }}</p>
        </div>
        <div class="card-actions">
          <input type="submit" class="btn" value="Update" (click)="updateJob(job.id)">
          <input type="submit" class="btn" value="Delete" (click)="deleteJob(job.id)">
        </div>
      </div>
    </div>
    
  </div>
</div>

