<div class="container color-dark">
  <div class="col1">
    <p>languages items</p>
  </div>
</div>

<div class="container color-light">
  <div class="col3">
    <form>
      <input type="text" class="txt" name="language" placeholder="language (English)" [(ngModel)]="myLanguages.language"> <br>
      <input type="text" class="txt" name="Proficiency" placeholder="Proficiency (100%)" [(ngModel)]="myLanguages.languageProficiency"> <br>
      <input type="submit" class="btn" value="{{ btnTxt }}" (click)="AgregarJob()">
    </form>

    <div class="cards-wrapper">
      <div class="card" *ngFor="let job of languages">
        <div class="card-content">
          <h3>{{ job.language }}</h3>
          <p><strong>Nivel:</strong> {{ job.languageProficiency }}</p>
        </div>
        <div class="card-actions">
          <input type="submit" class="btn" value="Update" (click)="updateJob(job.id)">
          <input type="submit" class="btn" value="Delete" (click)="deleteJob(job.id)">
        </div>
      </div>
    </div>
    
  </div>
</div>

